

*{
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
}




/* *** */
.homeProducts{
  display: block;
  padding: 32px;
}
.homeProductsDark{
  display: block;
  padding: 32px;
  background-color: black;
}

@media (min-width : 768px) {
  .homeProducts{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  /* .lessFour{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 5px;
  } */
  .homeProductsDark{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    color: white;
  }
  li{
    margin-left: 20px;
    list-style-type: none;
  }
  #navTitle{
    margin-left: 5px;
    list-style-type: none;
    height: 20px;
  }
}


.homeChild{
  /* background-color: rgb(31, 46, 25); */
  border: solid 1px black;
  margin-bottom: 16px;
  padding: 16px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}
.homeChildDark{
  /* background-color: rgb(31, 46, 25); */
  border: solid 1px white;
  margin-bottom: 16px;
  padding: 16px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}
/* .homeProducts{
  display: flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
  border: solid 1px black;
  padding: 10px;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
} */

.mainImage{
  height: 100px;
  padding: 20px 0px;
}

#title{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  padding: 20px 0px;

}





/* View css */
.mainView{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.addView{
  justify-content: center;
  align-items: flex-end;
  padding: auto;
}

#imgView{
  height: 200px;
}

.viewCont{
  margin: 20px 20px;
  height: 100vh;
}
.viewContDark{
  padding: 20px 20px;
  background-color: black;
  height: 100vh;
  width: auto;
  color: white;
}
.topViewDark{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.topView{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 50px;
}

#cross{
  font-size: 20px;
  cursor: pointer;
}

#descDetail{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}

#descId{
  margin-bottom: 20px;
}


/* *** */


/* Cart css */

.cartMain{
  display: flex;
  justify-content: center;
  margin: 50px;
}


/* *** */



/* contact css */

.welcome{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  padding: 20px;
}

@media (min-width : 768px){
  .contact, .welcome{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

/* ** */


/* About css */
#gh{
  list-style-type: none;
  text-decoration: none;
}

/* *** */

.cartEmp{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px;
}
.cartEmpDark{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px;
  background-color: black;
  color: white;
}

.darkReturn{
  height: 100vh;
  background-color: black;
  color: white;
}